* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, [class*=col-] {
  border: 1px solid black;
}

[class*=col-] {
  height: 100%;
  background-color: pink;
  position: relative;
}
[class*=col-] > p {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.row {
  height: 300px;
}
.row:last-child > div > [class*=col-] {
  background-color: red;
}

.row .col-6 > div {
  border: 1px solid pink;
}
